# This file lists the dependencies for the project. You can install them using pip:
# pip install -r requirements.txt

# Core dependencies
numpy>=1.26.4
pandas>=2.33
scipy>=1.16.3
scikit-learn>=1.7.2
matplotlib>=3.10.8
seaborn>=0.13.2

# Testing dependencies
pytest>=9.0.3

# Other dependencies
requests>=2.32.5
PyYAML>=6.0.3